:host {
    padding: 15px;
}

.button-container{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 15px;

    .button {
        margin: 5px;
    }
}

.container {
    padding: 15px;
}